<html>
    <head>
        {% load staticfiles %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <script src = "https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script type="text/javascript" src="script.js"></script>
        
        <title>DoConnect - Pre Appointment Questions</title>
    </head>
        <body>
            <header>
                <div class="row">
                    <div class="logo">
                        <img src="{% static 'pics/logo.png' %}">
                    </div>
                    <ul class="main-nav">
                        <li class="active"><a href=""> Overview </a></li>
                        <li><a href=""> My Profile </a>
                            <ul>
                                <li><a>View My Profile<br></a></li>
                                <li><a>Edit Contact Info<br></a></li>
                            </ul>
                        </li>
                        <li><a href=""> Help </a>
                            <ul>
                                <li><a>Call us</a></li>
                                <li><a>Email us</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </header>
            <div class="print_q">
                <h1>Welcome! We are always here for you.<br>
                    How can we help you today?
                </h1>
                <h2>Your ID:</h2>
                <h3>What is the question that you have in mind?:</h3>
                <h4>Your Priority (Rate from 1 ~ 10 with 1 being the lowest and 10 being the highest):</h4>
            </div>
            <div class="Question1">
                <form>
                    <div class="form-input">
                        <input type="text" name="usrname" id="idID" placeholder="Enter Your ID">
                    </div>
                </form>
            </div>
            <div class="Question2">
                <form>                   
                    <div class="form-input">
                        <input type="text" name="usrname" id="qID" placeholder="Enter Your Question">
                    </div>
                </form>
            </div>
            <div class="Question3">
                <form>                   
                    <div class="form-input">
                        <input type="text" name="usrname" id="pID" placeholder="Enter Level of Priority">
                    </div>
                </form>
            </div>
            <div class="button_submit">
                <button onclick="ask();">Ask The Doctor!</button>
                <p id="final"></p>
            </div>
        </body>
</html> 