*
{
    margin: 0;
    padding: 0;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color:azure;
    text-decoration: none;
    padding: 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}


.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
    background-color: darkturquoise;
    transition: all 0.5 ease-in;
}

.logo img
{
    width: 250px;
    height:auto;
    float: left;
}

h1
{
    position: absolute;
    color:azure;
    font-size: 40px;
    font-family: "Roboto", monospace;
    margin-left: 400px;
    margin-top: -560px;
}

h2
{
    position: absolute;
    color:azure;
    font-size: 15px;
    font-family: "Roboto", monospace;
    margin-left: 450px;
    margin-top: -420px;
}

h3
{
    position: absolute;
    color:azure;
    font-size: 15px;
    font-family: "Roboto", monospace;
    margin-left: 450px;
    margin-top: -365px;
}

h4
{
    position: absolute;
    color:azure;
    font-size: 15px;
    font-family: "Roboto", monospace;
    margin-left: 450px;
    margin-top: -310px;
}

header{
    font-family: monospace;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(cover.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.row
{
    max-width: 1200px;
    margin:auto;
}

.main-nav ul
{
    margin: 0px;
    padding: 0px;
    list-style:none;
}

.main-nav ul li
{
    
    float: left;
    color:azure;
    text-decoration: none;
    padding: 20px 0px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
}

.main-nav li ul li
{
    display: none;
}

.main-nav li:hover ul li
{
    display: block;
}

.Question1
{
    position: absolute;
    width: 200px;
    height: 40px;
    margin-top: -400px;
    margin-left: 500px;
    font-family: "Roboto", sans-serif;
    
    font-size: 20px;
    text-align: center;
    
    float: left;
    color: azure;
    text-decoration: none;
    
}
.Question2
{
    position: absolute;
    width: 200px;
    height: 40px;
    margin-top: -340px;
    margin-left: 500px;
    font-family: "Roboto", sans-serif;
    
    font-size: 20px;
    text-align: center;
    
    float: left;
    color: azure;
    text-decoration: none;
    
}

.Question3
{
    position: absolute;
    width: 200px;
    height: 40px;
    margin-top: -280px;
    margin-left: 500px;
    font-family: "Roboto", sans-serif;
    
    font-size: 20px;
    text-align: center;
    
    float: left;
    color: azure;
    text-decoration: none;
    
}

.button_submit
{
    position: absolute;
    margin-top: -220px;
    margin-left: 700px;
    border-radius: 4px;
}