*
{
    margin: 0;
    padding: 0;
}
header
{
    background-image: linear-gradient(rgba(0,0,0,0.10), rgba(0,0,0,0.1)), url(cover.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1{
	padding-top: 10px;
	padding-left: 300px;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.myForm {
color: black;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 1em;
width: 30em;
padding-top: 30px;
padding-left: 200px;
}

.myForm * {
box-sizing: border-box;
}

.myForm label {
padding: 0;
font-weight: bold;
text-align: right;
display: block;
padding-top: 30px;
}

.myForm input,
.myForm select,
.myForm textarea {
margin-left: 2em;
float: right;
width: 20em;
border: 1px solid #ccc;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.9em;
padding: 0.3em;
}

.myForm textarea {
height: 100px;
padding-top: 30px;
}

.myForm button {
padding: 1em;
border-radius: 0.5em;
background: #eee;
border: none;
font-weight: bold;
margin-left: 14em;
margin-top: 1.8em;
}

.myForm button:hover {
background: #ccc;
cursor: pointer;
}